@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, HelveticaNeue, AppleSDGothicNeo, sans-serif;
  }
  body {
    background: #222;
    color: #FFF;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
  }
  input, select {
    color: #222;
    padding: 0.5rem;
    text-align: right;
    width: 100%;
  }
}